{% include 'encabezado.html' %}
<body>
{% include 'barra.html' %}
<br>
<div class="container">
<center><h2><u>Roles de usuario</u></h2></center>
<main class="main">
<br>
<center>
  <div class="form-group col-md-4">
  	{% for us in usuario %}
    <label for="usuario">Usuario : {{us.username}} </label><br>
    {% endfor %} 
    {% if(misRoles!=null) %}
    <span>Tiene asignado los roles: </span><br>
    {% endif %}
    {% for rol in misRoles %}
    <span>{{rol.nombre}} </span>&nbsp;<a href="./index.php?action=desasignarRol&idU={{usuario[0].id}}&idR={{rol.id}}">Desasignar</a><br>
    {% endfor %} 
  </div>
  <form action=./index.php?action=asignarRol&id={{usuario[0].id}} method="POST">
  <div class="form-group col-md-4">
  	<center><h4><u>Asignarle un nuevo rol</u></h4></center>
    <label for="rol">Rol</label>
    <select name="idRol" class="form-control col-md-6">
	    {% for item in resources %}
	    	<option value="{{item.id}}">{{item.nombre}}</option>
	    {% endfor %}   	
    </select>

  </div>
  <button type="submit" class="btn btn-primary">Aceptar</button>
</form></center>
</main>
</div>
{% include 'footer.html' %}
</body>
</html>