{% include 'encabezado.html' %}
    <head>
        <title>Home</title>
    </head>
    <body>
{% include 'barra.html'%}
	<br>


<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
var   xmlhttp, myObj, x, txt = "";

xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        myObj = JSON.parse(this.responseText);
        for (x in myObj) {
            txt += "<option value="+myObj[x].id+">"+myObj[x].nombre+"</option>" + "<br>";
        }
        document.getElementById("partido").innerHTML = txt;
    }
};
xmlhttp.open("GET", "https://api-referencias.proyecto2018.linti.unlp.edu.ar/partido", true);
xmlhttp.send();

</script>

<script>
var   xmlhttp, obrasocial, x, txt2 = "";
xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        obrasocial = JSON.parse(this.responseText);
        for (x in obrasocial) {
            txt2 += "<option value="+obrasocial[x].id+">"+obrasocial[x].nombre+"</option>" + "<br>";
        }
        document.getElementById("obra_social").innerHTML = txt2;
    }
};
xmlhttp.open("GET", "https://api-referencias.proyecto2018.linti.unlp.edu.ar/obra-social", true);
xmlhttp.send();

</script>


<script>
var   xmlhttp, localidad, x, txt3 = "";
xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        localidad = JSON.parse(this.responseText);
        for (x in localidad) {
            txt3 += "<option value="+localidad[x].id+">"+localidad[x].nombre+"</option>" + "<br>";
        }
        document.getElementById("localidad").innerHTML = txt3;
    }
};
xmlhttp.open("GET", "https://api-referencias.proyecto2018.linti.unlp.edu.ar/localidad", true);
xmlhttp.send();

</script>


<script>
var   xmlhttp, tipodocumentos, x, txt4 = "";
xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        tipodocumentos = JSON.parse(this.responseText);
        for (x in tipodocumentos) {
            txt4 += "<option value="+tipodocumentos[x].id+">"+tipodocumentos[x].nombre+"</option>" + "<br>";
        }
        document.getElementById("tipo_doc").innerHTML = txt4;
    }
};
xmlhttp.open("GET", "https://api-referencias.proyecto2018.linti.unlp.edu.ar/tipo-documento", true);
xmlhttp.send();

</script>




  <div class="container">
    {% if mensaje is defined %}
      {% if not mensaje  is empty  %}
        <div class="alert alert-secondary" role="alert">
          {{ mensaje }}
        </div>
      {% endif %}
    {% endif %}
    <div class="form-row">
      <div class="form-group col-md-6">
  <h2><u>Registrar Paciente</u></h2>
  </div>
   <div class="form-group col-md-6">
  <a class="btn btn-primary btn-md float-md-right" href="">Ingresar como NN</a></td>
  </div>
  </div>
  <form action="./index.php?action=agregar_paciente" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="apellido">Apellido:</label>
      <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" required>
    </div>
    <div class="form-group col-md-6">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
    </div>
  </div>
   <div class="form-row">
    <div class="form-group col-md-6">
      <label for="fecha_nac">Fecha de Nacimiento:</label>
      <input type="date" class="form-control" id="fecha_nac" name="fecha_nac" required>
    </div>
    <div class="form-group col-md-6">
      <label for="lugar_nac">Lugar de Nacimiento:</label>
      <input type="text" class="form-control" id="lugar_nac" name="lugar_nac" placeholder="Lugar de Nacimiento" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="partido">Partido:</label>
      <select class="form-control" name="partido" id="partido" required>
       <!-- {% for part in partidos %}
        <option value="{{part.id}}">{{part.name}}</option>
        {% endfor %} -->   
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="localidad">Localidad:</label>
      <select class="form-control" name="localidad" id="localidad" required>
        <!--{% for loc in localidades %}
        <option value="{{loc.id}}">{{loc.name}}</option>
        {% endfor %}-->
  	  </select>
    </div>
  </div>
  <div class="form-group">
    <label for="domicilio">Domicilio:</label>
    <input type="text" class="form-control" id="domicilio" name="domicilio" placeholder="Domicilio" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="genero">Genero:</label>
      <select class="form-control" name="genero" id="genero" required>
        {% for gen in generos %}
        <option value="{{gen.id}}">{{gen.nombre}}</option>
        {% endfor %} 
  	  </select>
    </div>
    <div class="form-group col-md-2">
      <label for="region_sanitaria">Región Sanitaria:</label>
      <select class="form-control" name="region_sanitaria" id="region_sanitaria" required>
         {% for reg in regionSanitaria %}
        <option value="{{reg.id}}">{{reg.nombre}}</option>
        {% endfor %} 
  	  </select>
    </div>
    <div class="form-group col-md-8">
      <label for="obra_social">Obra Social:</label>
      <select class="form-control" name="obra_social" id="obra_social" required>
        <!--{% for obra in obraSociales %}
        <option value="{{obra.id}}">{{obra.nombre}}</option>
        {% endfor %}-->
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="tiene_doc">¿Tiene Documento?</label>
     <select class="form-control" name="tiene_doc" id="tiene_doc" required>
      <option value="1">Si</option>
      <option value="0">No</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="tipo_doc">Tipo de Documento:</label>
      <select class="form-control" name="tipo_doc" id="tipo_doc" required>
        <!--{% for tipo in tiposDoc %}
        <option value="{{tipo.id}}">{{tipo.name}}</option>
        {% endfor %} -->
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="numero_documento">Número de Documento:</label>
       <input type="number" class="form-control" id="numero_documento" name="numero_documento" placeholder="Número de Documento" required>
    </div>
    <div class="form-group col-md-4">
      <label for="telefono">Teléfono:</label>
       <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="numero_historia_clinica">Número de Historia Clínica:</label>
      <input type="number" class="form-control" id="numero_historia_clinica" name="numero_historia_clinica" placeholder="Número de Historia Clíica" required>
    </div>
    <div class="form-group col-md-6">
      <label for="numero_carpeta">Número de Carpeta:</label>
      <input type="number" class="form-control" id="numero_carpeta" name="numero_carpeta" placeholder="Número de Carpeta" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Aceptar</button>
</form>
</div>
{% include 'footer.html'%}
    </body>
</html>
