<html>
    <head>
        <title>Home</title>
    </head>
    <body>
		<form action="./index.php?action=actualizarPaciente&id={{resources.id}}" method="POST">
		     Apellido <input type="text" name="apellido" value="{{resources.apellido}}" required/><br><br>

		       Nombre <input type="text" name="nombre" value="{{resources.nombre}}"  required/><br><br>

  Fecha de Nacimiento <input type="date" name="fecha_nac" value="{{resources.apellido}}" required/><br><br>

  Lugar de Nacimiento <input type="text" name="lugar_nac" value="{{resources.lugarnac}}" required/><br><br>

		        Partido <select name="partido" required>
			            <option value="Rivadavia">Rivadavia</option>
			            <option value="Trenque Launquen">Trenque Launquen</option>
		                </select> <br>

		      Localidad <select name="localidad" value="{{resources.localidadid}}required >
			            <option value="America">America</option>
			            <option value="Fortin Olavarria">Fortin Olavarria</option>
		                </select> <br>

		     Domicilio <input type="text" name="domicilio" value="{{resources.domicilio}}" required/><br><br>

		     Genero <select name="genero" value="{{resources.genero}}" required>
			            <option value="Masculino">Masculino</option>
			            <option value="Femenino">Femenino</option>
			            <option value="Otro">Otro</option>
		                </select> <br>

	  Region Sanitaria <select name="region_sanitaria"  required>
			            <option value="I">I</option>
			            <option value="II">II</option>
			            <option value="III">III</option>
			            <option value="IV">IV</option>
		                </select> <br>

		 Tiene Documento<select name="tiene_doc"   required>
			            <option value="1">SI</option>
			            <option value="0">NO</option>
		                </select> <br>

		    Tipo de Doc <select name="tipo_doc" required>
			            <option value="DNI">DNI</option>
			            <option value="LC">LC</option>
			            <option value="CI">CI</option>
			            <option value="LE">LE</option>
		                </select> <br>

		   Obra Social  <select name="obra_social" required>
			            <option value="IOMA">IOMA</option>
			            <option value="OSDE">OSDE</option>
			            <option value="OSECAC">OSECAC</option>
		                </select> <br>

    Numero de Documento <input type="number" name="numero_documento" required/><br><br>
 Nº de Historia Clinica <input type="number" name="numero_historia_clinica" min="0" max= "999999" required/><br><br>
 Nº de Carpeta <input type="number" name="numero_carpeta" min="0" max= "99999" required/><br><br>

		<input type="submit" value="Enviar"/>
		</form>
    </body>
</html>
