{% include 'encabezado.html' %}
    <head>
        <title>Home</title>
    </head>
{% include 'barra.html' %}
    <body>
        <h1>Home</h1>
<div class="containter">
        <ul>
            <li><a href="./?action=listResources&username={{resources.usuario}}"> Listar Usuarios </a></li>
            <li><a href="./?action=listarInstituciones&username={{resources.usuario}}"> Instituciones </a></li>
            <li><a href="./?action=registrarse&username={{resources.usuario}}"> Registrarse </a></li>
            <li><a href="./?action=listarPacientes&username={{resources.usuario}}"> Listar Todos los Pacientes </a>
            <li><a href="./?action=agregarPaciente&username={{resources.usuario}}"> Agregar Paciente </a></li>
            <li><a href="./?action=moduloDeConfiguracion&username={{resources.usuario}}"> Módulo de Configuración </a></li>
            <li><a href="./?action=buscarPaciente"> Buscar Paciente </a></li>
            <li><a href="./?action=traerMisPermisos&us={{resources.usuario}}"> Ver mis permisos </a></li>
        </ul>
</div>
{% include 'footer.html' %}
    </body>
</html>