{% include 'encabezado.html'%}
{% set const = 1 %}
    <head>
    <title>Usuarios</title>
    <script type="text/javascript">
          function confirmar(){

                  if (confirm("¿Deseas eliminar este registro?"))
                    return true;
                  else
                     return false;

                 }

        
function validacion(formu, obj) {
  limite=1; //limite de checks a seleccionar
  num=0;
  if (obj.checked) {
    for (i=0; ele=document.getElementById(formu).children[i]; i++)
      if (ele.checked) num++;
  if (num>limite)
    obj.checked=false;
  }
}  



</script>
    </head>
{% include 'barra.html'%}
    <body>
      <br>
      <div class="container">
      <br>
      <div class="form-row">
      <div class="form-group col-md-4">
        <h2><u>Usuarios</u></h2>
      </div>
      <div class="form-group col-md-6">
      <a class="btn btn-primary btn-sm float-right" href="./?action=buscarUsuario"> Buscar Usuario </a>
    </div>
      <div class="form-group col-md-2">
      <a class="btn btn-primary btn-sm float-md-right" href="./?action=registrarse"> Agregar usuario </a>
      
      </div> 
      </div>

      {% if resources.mensaje is defined %}

          {% if not resources.mensaje  is empty  %}
               <div class="alert alert-secondary" role="alert">
                {{ resources.mensaje }}
               </div>
          {% endif %}

    {% endif %}
      <div class="table-responsive"> 
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Estado</th>
      <th scope="col">Activar/Bloquear</th>
      <th scope="col">Agregar Rol</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
   <tbody>
        {% for item in resources.resources %}
          <tr>
          <td><a href="./?action=editarUsuario&id={{ item.id }}">
          <strong>{{item.username}}</strong><span></a></td>
          <td>{{item.firstname}}</td>
          <td>{{item.lastname}}</td>
          <td>{% if item.activo == 1 %}
              Inactivo
             {% else %}
             Activo 
             {% endif %}</td>
          <td><a class="btn btn-primary btn-sm" href="./?action=cambiarEstado&id={{ item.id }}&estado={{item.activo}}">
          {% if item.activo == 1 %}
            Activar
          {% else %}
            Bloquear
          {% endif %}</a></td>
          <td><a class="btn btn-primary btn-sm" href="./?action=agregarRol&id={{ item.id }}">Agregar rol</a></td>
          <td> <a class="btn btn-primary btn-sm" href="./?action=eliminarUsuario&id={{ item.id }}" onclick="return confirmar({{item.id}})">Eliminar</a></td>
          </tr>
        {% endfor %}
      </tbody>
        </table>
      </div>
      </div>
        <br>
        {% if resources.cantidad > 1 %}
          <nav aria-label="Page navigation example">
          <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
           {% if resources.datos is empty %}
          <li class="page-item"><a class="page-link" href="./?action=listarUsuarios&pagina={% if resources.pagina > 1 %}{{resources.pagina - 1}}{% else %}1{% endif %}">Anterior</a></li>
          {% for i in 1..resources.cantidad %}
            <li class="page-item {% if i == resources.pagina %} active {% endif %}"><a class="page-link" href="./?action=listarUsuarios&pagina={{i}}">{{i}}</a></li>
          {% endfor %}
          <li class="page-item"><a class="page-link" href="./?action=listarUsuarios&pagina={% if resources.pagina < resources.cantidad %}{{resources.pagina + 1}}{% else %}{{ resources.cantidad }}{% endif %}">Siguiente</a></li>  
          {% else %} 
           <li class="page-item"><a class="page-link" href="./?action=buscar_usuario&pagina={% if resources.pagina > 1 %}{{resources.pagina - 1}}{% else %}1{% endif %}&username={{resources.datos.username}}&email={{resources.datos.email}}&estado={{resources.datos.estado}}">Anterior</a></li>
          {% for i in 1..resources.cantidad %}
            <li class="page-item {% if i == resources.pagina %} active {% endif %}"><a class="page-link" href="./?action=buscar_usuario&pagina={{i}}&username={{resources.datos.username}}&email={{resources.datos.email}}&estado={{resources.datos.estado}}">{{i}}</a></li>
          {% endfor %}
         <li class="page-item"><a class="page-link" href="./?action=buscar_usuario&pagina={% if resources.pagina < resources.cantidad %}{{resources.pagina + 1}}{% else %}{{ resources.cantidad }}{% endif %}&username={{resources.datos.username}}&email={{resources.datos.email}}&estado={{resources.datos.estado}}">Siguiente</a></li>  
      {% endif %}  



          </ul>
          </nav>
          </nav>
{% endif %}
{% include 'footer.html'%}
    </body>
</html>