{% include 'encabezado.html'%}
    <head>
        <title>Usuarios</title>
    </head>
{% include 'barra.html'%}
    <body>
        <h1>Usuarios</h1>
        <ul>
        {% for item in resources %}
        <a href="./?action=editarUsuario&id={{ item.id }}">
           <li><u><strong>{{item.username}}</strong></u><span></a>
            {% if (item.activo > 0) %}
              (inactivo)
             {% else %}
             (activo) 
             {% endif %}
           </span>
            <a href="./?action=cambiarEstado&id={{ item.id }}&estado={{item.activo}}">Activar/Bloquear</a>
            </li>
           <a class="btn btn-primary btn-sm" href="./?action=eliminarUsuario&id={{ item.id }}">Eliminar</a>&nbsp;
           <a class="btn btn-primary btn-sm" href="./?action=agregarRol&id={{ item.id }}">Agregar rol</a>
           <br>
        {% endfor %}
        </ul>
{% include 'footer.html'%}
    </body>
</html>