{% include 'encabezado.html'%}
    <head>
        <title>Home</title>

   
    </head>

  <script src="https://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    function init(){
      map = new OpenLayers.Map("mapdiv");
      map.addLayer(new OpenLayers.Layer.OSM());
      var lonLat = new OpenLayers.LonLat( -57.945619580459 ,-34.923290310202 )
      .transform(new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
      map.getProjectionObject() // to Spherical Mercator Projection
      );
      var zoom=12;
      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map.addLayer(markers);    
      //markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat().transform(new OpenLayers.Projection("EPSG:4326"),map.getProjectionObject())));
      map.setCenter (lonLat, zoom);
    }
  </script>

  <body onload="init();">
{% include 'barra.html'%}



  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
  <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mapa de Atenciones</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
       <div class="modal-body">
        <center><div id="mapdiv" style="width: 700px; height: 400px; display : inline-block;" class="map">
        </div>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>

<br>
<div class="container">
    {% if mensaje is defined %}
      {% if not mensaje  is empty  %}
        <div class="alert alert-secondary" role="alert">
          {{ mensaje }}
        </div>
      {% endif %}
    {% endif %}
    <div class="form-row">
      <div class="form-group col-md-5">
        <h2><u>Registrar Atencion</u></h2>
      </div>
    </div>
  <form action="./index.php?action=registrar_atencion&pacienteId={{ paciente.id }}" method="POST">
  <div class="form-row">
    <div class="form-group col-md-7">
      <label for="nombreapellido">Paciente </label>
      <input type="text" class="form-control" id="nombreapellido" name="nombreapellido" placeholder="Paciente"  value="{{ nombreapellido }}" readonly="readonly" required>
    </div>
    <div class="form-group col-md-5">
      <label for="fecha">Fecha</label>
      <input type="date" class="form-control" id="fecha" name="fecha" placeholder="fecha" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7">
      <label for="motivo">Motivo Consulta</label>
      <select class="form-control" name="motivo" id="motivo" required>
        <option value="">Elegir Opcion</option>
        {% for motivo in motivos %}
        <option value="{{motivo.id}}">{{motivo.nombre}}</option>
        {% endfor %} 
      </select>
    </div>
    <div class="form-group col-md-5">
      <label for="derivacion">Derivacion:</label>
      <select class="form-control" name="derivacion" id="derivacion" >
        <option value="">Elegir Opcion</option>
        {% for derivacion in derivaciones %}
        <option value="{{derivacion.id}}">{{derivacion.nombre}}</option>
        {% endfor %}    
  	  </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-9">
      <label for="articulacion">Articulacion:</label>
      <input type="text" class="form-control" id="articulacion" name="articulacion" placeholder="articulacion" >
    </div>
    <div class="form-group col-md-3">
      <label for="internacion">¿Derivo de una Internacion?</label>
      <select class="form-control" name="internacion" id="internacion" required>
         <option value="">Elegir Opcion</option>
         <option value="1">Si</option>
         <option value="2">No</option>
  	  </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="diagnostico">Diagnostico:</label>
      <textarea class="form-control" rows="3" id="diagnostico" name="diagnostico" placeholder="diagnostico" required></textarea>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="observaciones">Observaciones</label>
      <textarea class="form-control" rows="3" id="observaciones" name="observaciones" placeholder="observaciones" ></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-7">
      <label for="tratamiento">Tratamiento Farmacologico</label>
     <select class="form-control" name="tratamiento" id="tratamiento" >
        <option value="">Elegir Opcion</option>
        {% for tratamiento in tratamientos  %}
        <option value="{{tratamiento.id}}">{{tratamiento.nombre}}</option>
        {% endfor %}    
      </select>
      </select>
    </div>
    <div class="form-group col-md-5">
      <label for="acompanamiento">Acompañamiento</label>
      <select class="form-control" name="acompanamiento" id="acompanamiento" >
        <option value="">Elegir Opcion</option>
        {% for acompanamiento in acompanamientos  %}
        <option value="{{acompanamiento.id}}">{{acompanamiento.nombre}}</option>
        {% endfor %}    
      </select>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Aceptar</button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Mapa Atenciones</button>
  </div>
</form>


{% include 'footer.html'%}
 </body>
</html>